<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站后台管理 Powered by pigcms.com</title>
    {% include 'Public/header.html' %}
    <style>
        .high{ color: red; }
        .position{
            display: inline-block;
            padding-top: 15px;
            padding-left: 5px;
        }
        .aui_buttons {
			padding: 4px 0 0 0;
		}
		.btn{
            position:fixed;
            width: 100%;
            bottom: 0;
            right: 0;
		}
    </style>
</head>
<body>
<form id="myform" method="post" action=""   enctype="multipart/form-data">
    <table cellpadding="0" cellspacing="0" class="frame_form" width="100%">
        <tr>
            <th width="80">选择店铺</th>
            <td>
                <a href="javascript:;" onclick="choose_store()" id="store" name="store" >点击选择店铺</a>
                <input type="text" id="hiddenstore" value="" class="input" name="hiddenstore" style="width:200px;display:none" />
                <input type="hidden" id="get_url" name="get_url" value="">
                <strong class='high url'>*</strong>
            </td>
        </tr>
        <tr>
{#            TODO 上传图片未做#}
            <th width="80">上传店铺图片</th>
            <td>
                <input  type="file" id="pic" accept="image/png,image/jpeg,image/gif" value=""  class="input fl" name="pic" style="width:200px;" placeholder="请上传图片" />
                <strong class='high position pic'>*</strong>
            </td>
            <td><input  type="hidden" id="pic1"  value=""   name="img" style="width:200px;"/></td>
            <td><input  type="hidden" id="pic2"  value=""   name="img2" style="width:200px;"/></td>
        </tr>
        <tr>
            <th width="80">店铺排序</th>
            <td>
                <input type="text" id="sort" class="input fl" name="sort" style="width:80px;" value="" />
            </td>
        </tr>
        <tr>
            <th width="80">店铺状态</th>
            <td>
                <label><input type="radio" name="status" value="1" checked="checked" />启用</label>
                <label><input type="radio" name="status" value="0" />关闭</label>
            </td>
        </tr>
    </table>
    <div class="btn">
        <td colspan="2" class="aui_footer">
            <div class="aui_buttons">
                <button id="edit" class="aui_state_highlight" type="submit">添加</button>
                <button id="close" type="button">关闭</button>
            </div>
        </td>
    </div>
</form>
<script>
    $("#myform").submit(function (e) {
        e.preventDefault();
        confirm();
    });

    //表单验证提交
    function confirm(){
        if($("#hiddenstore").val().length == 0)
        {
            $(".url").html("请选择店铺！");
            return false;
        }else{
            $(".url").html(" ");
            if($("#pic").val().length == 0)
            {
                $(".pic").html("店铺图片不能为空！");
                return false;
            }else{
                $(".pic").html(" ");
                $.ajax({
                        url:"/admin/store_add/?",
                        type:"post",
                        dataType:"json",
                        data: $("#myform").serialize(),
                        success:function(msg){
                            if(msg==1){
                                result("添加成功","succeed");
                                var win = art.dialog.open.origin;
                                win.location.reload();
                            }else{
                                result("添加失败","error");
                            }
                        },
                        error:function(xhr,textstatus,thrown){
                        }
                    });
                return true;
            }
        }
    }

     function result(title,flag) {
        art.dialog({
            content: title,
            //以“skins/icons/”目录下的图标名作为参数名（不包含后缀名）
            icon: flag,
            fixed: true,//静止在浏览器某个地方不动，不受滚动条拖动影响
            time: 3,//如果有cancel方法的话会调用cancel方法
        });
        var time = setInterval(function() {
            art.dialog.close()
        }, 2000);
    }

     function choose_store(){
        art.dialog.open('/admin/stores/?flag=add_store',{
            title: '选择店铺',
            lock: true,
            width:800,
            height:400,
            close:function () {
                var shop_id=art.dialog.data('shop_id');
                var shop_name=art.dialog.data('shop_name');
                $("#hiddenstore").show();
                $("#hiddenstore").val(shop_name);
                $("#get_url").val(shop_id);
            }
        });
    }

     $("#pic").change(function () {
        if($(this).val() != ""){
             var tmpPath = $("#pic").val();
             tmpPath=tmpPath.split(".")[1];
             var new_name=get_file_name(2);
             $("#pic2").val('3+'+new_name+Date.parse(new Date())+"."+tmpPath);
             $("#pic1").val(new_name+Date.parse(new Date())+"."+tmpPath);
             var formData=new FormData();
             var img_file=document.getElementById("pic");
             var fileObj=img_file.files[0];
             formData.append('file',fileObj);
             formData.append('filename',$("#pic2").val());
             $.ajax({
                 url: "/admin/image_upload/",
                 type: "post",
                 dataType: "json",
                 data:formData,
                 processData : false,
                 contentType : false,
                 async:false,
                 success:function () {
                 }
             });
         }
     });//点击上传图片生成随机图片名

     function get_file_name(len) {
            let new_file_name = 'A';
            let chars = "1234567890qwertyuiopasdfghjklzxcvbnm";
            for (i = 0; i < len; i++) {
                new_file_name += chars[parseInt(Math.random() * chars.length)];
            }
            return new_file_name;
        }//生成随机数

     $("#close").click(function () {
		 art.dialog.close();
     });//关闭对话框
</script>
</body>
</html>