<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站后台管理</title>
    {% include 'Public/header.html' %}
</head>
<body>
<form id="myform" method="post" action=""   enctype="multipart/form-data">
    <table cellpadding="0" cellspacing="0" class="frame_form" width="100%">
       <input type="hidden" id="parent_id" name="parent_id" value="{{ parent_id }}">
        <tr>
            <th width="80">广告名称</th>
            <td>
                <input type="text"  class="input fl" id="adver_name"  name="adver_name" size="20" placeholder="请输入名称" validate="maxlength:20,required:true"/>
                <strong class='high position adver_name'>*</strong>
            </td>
        </tr>
        <tr>
            <th width="80">广告图片</th>
            <td>
                <input  type="file" id="pic" accept="image/png,image/jpeg,image/gif" value=""  class="input fl" name="pic" placeholder="请上传图片" validate="required:true"/>
                <strong class='high position pic'>*</strong>
                <input  type="hidden" id="pic1"  value=""   name="img" style="width:200px;"/>
                <input  type="hidden" id="pic2"  value=""   name="img2" style="width:200px;"/>
            </td>
        </tr>
         <tr>
            <th width="80">链接功能</th>
            <td>
                 <select id="url_type" style="height: 35px;vertical-align: middle;">
                     <option name="" value="0" selected>请选择对应功能</option>
                     <option id="store" name="function" value="1" >店铺或商品</option>
                     <option id="web" name="function" value="2">web链接</option>
                 </select>
                <input type="hidden" name="function" value="" id="choose">
                <input type="text" id="url" value="" class="input" name="url" style="width:200px;display:none" placeholder="请填写链接地址" />
                <input type="hidden" id="get_url" name="get_url" value="">
                <strong class='high url'>*</strong>
            </td>
        </tr>
        <tr>
            <th width="80">广告排序</th>
            <td>
                <input type="text" id="sort" class="input fl" name="sort" style="width:80px;" value=""/>
                <strong class='high position sort'>*</strong>
            </td>
        </tr>
        <tr>
            <th width="80">广告状态</th>
            <td>
                <label><input type="radio" name="status" value="1" checked="checked" />启用</label>
                <label><input type="radio" name="status" value="0" />关闭</label>
            </td>

        </tr>
    </table>
    <div class="btn">
        <td colspan="2" class="aui_footer">
            <div class="aui_buttons">
                <button id="edit" class="aui_state_highlight" type="submit">添加</button>
                <button id="close" type="button">关闭</button>
            </div>
        </td>
    </div>
</form>
<script>
    $("#myform").submit(function (e) {
        e.preventDefault();
        confirm();
    });

    //表单验证提交
    function confirm(){
        if($("#adver_name").val().length == 0 )
        {
            $(".adver_name").html("广告名称不能为空！");
            $("#adver_name").focus();
            return false;
        }else{
            $(".adver_name").html(" ");
            if($("#pic").val().length == 0)
            {
                $(".pic").html("广告图片不能为空！");
                return false;
            }else{
                 $(".pic").html(" ");
                if($("#url").val().length == 0)
                {
                    $(".url").html("链接功能不能为空！");
                    return false;
                }else {
                    $(".url").html(" ");
                    if($("#sort").val().length == 0)
                    {
                        $(".sort").html("广告排序不能为空！");
                        return false;
                    }else{
                        $(".sort").html(" ")
                        $.ajax({
                            url:"/admin/adver_add/?parent_id="+$("#parent_id").val(),
                            type:"post",
                            dataType:"json",
                            data: $("#myform").serialize(),
                            success:function(msg){
                                if(msg==1){
                                    result("添加成功","succeed");
                                    var win = art.dialog.open.origin;
                                    win.location.reload();
                                }else{
                                    result("添加失败","error");
                                }
                            },
                            error:function(xhr,textstatus,thrown){
                            }
                        });
                        return true;
                    }
                }
            }
        }
    }
    function result(title,flag) {
        art.dialog({
            content: title,
            //以“skins/icons/”目录下的图标名作为参数名（不包含后缀名）
            icon: flag,
            fixed: true,//静止在浏览器某个地方不动，不受滚动条拖动影响
            time: 3,//如果有cancel方法的话会调用cancel方法
        });
        var time = setInterval(function() {
            art.dialog.close()
        }, 2000);
    }

    $("#url_type").change(function () {
       var val=$(this).find("option:selected").val();
        $("#choose").val(val);
        if(val == 2){
            $("#url").val("");
            $("#url").show();
        }else{
            $("#url").hide();
            if(val == 1){
                art.dialog.open('/admin/stores/?flag=add',{
                    title: '选择商店或者商品',
                    lock: true,
                    width:800,
                    height:400,
                    close:function () {
                        var shop_id=art.dialog.data('shop_id');
                        var shop_name=art.dialog.data('shop_name');
                        $("#url").show();
                        $("#url").val(shop_name);
                        $("#get_url").val(shop_id);
                    }
                });
            }
        }
    });


     $("#pic").change(function () {
        if($(this).val() != ""){
             var tmpPath = $("#pic").val();
             tmpPath=tmpPath.split(".")[1];
             var new_name=get_file_name(2);
             var val=$("#parent_id").val();
             $("#pic2").val(val+'+'+new_name+Date.parse(new Date())+"."+tmpPath);
             $("#pic1").val(new_name+Date.parse(new Date())+"."+tmpPath);
             var formData=new FormData();
             var img_file=document.getElementById("pic");
             var fileObj=img_file.files[0];
             formData.append('file',fileObj);
             formData.append('filename',$("#pic2").val());
             $.ajax({
                 url: "/admin/image_upload/",
                 type: "post",
                 dataType: "json",
                 data:formData,
                 processData : false,
                 contentType : false,
                 async:false,
                 success:function () {
                 }
             });
         }
     });//点击上传图片生成随机图片名

     function get_file_name(len) {
            let new_file_name = 'A';
            let chars = "1234567890qwertyuiopasdfghjklzxcvbnm";
            for (i = 0; i < len; i++) {
                new_file_name += chars[parseInt(Math.random() * chars.length)];
            }
            return new_file_name;
        }//生成随机数

      $("#close").click(function () {
		 art.dialog.close();
     });//关闭对话框
</script>
</body>
</html>