{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站后台管理</title>
     {% include 'Public/header.html' %}
     <style>
         img {
             cursor: pointer;
         }
     </style>
</head>
<body>
<div class="mainbox">
    <div id="nav" class="mainnav_title">
        <ul class="tbody" style="margin-bottom: 0px;">
            <a href="/admin/adver_management/">广告分类列表</a>|
            <a href="" class="on">{{ parent_title }}列表</a>|
            <a href="javascript:void(0);" class="add_row">添加广告</a>
        </ul>
    </div>
    <form name="myform" id="myform" action="" method="post">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <input type="hidden" id="parent_id" name="parent_id" value="{{ parent_id }}">
                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col width="180" align="center"/>
                    <col width="180" align="center"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>排序</th>
                        <th>编号</th>
                        <th>名称</th>
                        <th>作用</th>
                        <th>图片(以下为强制小图，点击图片查看大图)</th>
                        <th class="textcenter">最后操作时间</th>
                        <th>状态</th>
                        <th class="textcenter">操作</th>
                    </tr>
                </thead>
                <tbody  class="tbody">
                {% for i in data %}
                <tr>
                    <td>{{ i.priority}}</td>
                    <td>{{ i.id }}</td>
                    <td>{{ i.title }}</td>
                {%  if i.url == '商品不存在' or  i.url == '店铺不存在' %}
                    <td style="color: red">{{ i.url }}</td>
                {% else %}
                     <td id="urlname">{{ i.url }}</td>
                {% endif %}
                    <td>
                        <img src="{{ i.img }}" style="width:300px;height:80px;" class="view_msg"/>
                    </td>
                    <td class="textcenter">2018-08-01 10:45:48</td>
                    <td>
                        {% if i.state == 1 %}
                        <font color="red">开启</font></td>
                            {% else %}
                        <font color="red">关闭</font></td>

                    {% endif %}
                    <td class="textcenter">
                        <a href="javascript:void(0);" class="edit_row">编辑</a> |
                        <a href="javascript:void(0);" class="delete_row" parameter="id=40">删除</a>
                    </td>
                </tr>
                {% endfor  %}
                </tbody>
            </table>
        </div>
    </form>
</div>
<script src="{% static '/js/del_edit_post_get.js' %}"></script>
<script>
    $(".tbody").on('click','a,img',function () {
        var clsn=this.className;
        var td=$(this).parent().siblings()[1];
        var adver_id=$(td).html();
        var parent_id=$("#parent_id").val();
        var td3=$(this).parent().siblings()[3];
        var shop_name=$(td3).html();
        if(clsn=='edit_row'){
            art.dialog.data('urlname',shop_name);
            art.dialog.open('/admin/adver_edit/?parent_id='+parent_id+"&adver_id="+adver_id,{
                title: '编辑广告信息',
                lock: true,
                modal:true,
                width:800,
                height:500
            });
        }else if(clsn=='add_row'){
            art.dialog.open('/admin/adver_add/?parent_id='+parent_id,{
                title: '添加广告',
                lock: true,
                modal:true,
                width:800,
                height:500
            });
        }else if(clsn=='delete_row'){
            function callback() {}
                if(confirm("你确定要删除吗？")){
                   $.deleteJSON("/admin/adver_list/?parent_id="+parent_id+"&adver_id="+adver_id,"delete",callback)
                }else{
                    return false;
                }
            }else if(clsn=='view_msg'){
            var src=$(this).attr("src");
            window.parent.showbigimg("<img src="+src+" style=\"width:600px;height:400px;\">");
        }  //点击图片放大
    });


</script>

</body>
</html>