<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <meta http-equiv="MSThemeCompatible" content="Yes">
    {% include 'Public/public.html' %}
    <style>
        ul.pages{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ol, ul {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body style="background:#fff;padding:20px 20px;">
<div style="background:#fefbe4;border:1px solid #f3ecb9;color:#993300;padding:10px;margin-bottom:5px;">
        使用方法：点击对应内容后面的“选中”即可,如果选择商品就先选商店再选商品。
</div>
<form method="get"  action="/admin/stores/">
    <input type="text" name="keyword" class="input-text">
    <input type="submit" value="查询" class="button">
</form>
<table class="ListProduct" border="0" cellspacing="0" cellpadding="0" width="100%">
    <thead>
        <tr>
            <th>商店</th>
            <th style=" width:100px;text-align: center">操作</th>
        </tr>
    </thead>
    <tbody id="tbody">
    {% for i in data %}
        <tr>
            <td>{{ i.shop_name }}</td>
            <td style="display: none;">{{ i.shop_id }}</td>
            <td class="norightborder">
                &nbsp;&nbsp;&nbsp;
                <a href="###" class="choose_store">选中</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if flag == 'add_store' %}

                {% else %}
                <a href="###" class="choose_goods">商品</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
<div class="selectedSort">
    <b>您当前选择的是：</b>
    <i id="selectedSort"></i>
    <i id="resultid" style="display: none"></i>
    <button value="" type="button" class="tijiao">确定</button>
    <input type="hidden" value="{{ flag }}" id="flag">
</div>
<div class="footactions" style="padding-left:10px">
    <div class="pages">
        <ul class="pages">
            <li><a href='/admin/stores/?p=1&flag={{ flag }}'>首页</a></li>
            {% if  get_page  == '1' %}
                <li><a href='#'>&lt;上一页</a></li>
            {% else %}
                <li><a href='/admin/stores/?p={{ get_page |add:-1}}&flag={{ flag }}'>&lt;上一页</a></li>

            {% endif %}
            {% if  get_page  >=  page_total  %}
                <li><a href='#'>下一页&gt;</a></li>
            {% else %}
                <li><a href='/admin/stores/?p={{ get_page |add:1}}&flag={{ flag }}'>下一页&gt;</a></li>
            {% endif %}
            <li><a href='/admin/stores/?p={{ page_total }}&flag={{ flag }}'>尾页></a></li>
            <li disabled><a href='##' id='show_info'>{{ get_page }}/{{ page_total }}</a></li>
        </ul>
    </div>
</div>

<script>
     var shopid;
    $("#tbody").on('click','a',function () {
        var clsn=this.className;
        var name=$(this).parent().siblings()[0];
        var shop_id=$(this).parent().siblings()[1];
        shopid=$(shop_id).html();
        var result=$(name).html();
        var flag=$("#flag").val();
        $("#selectedSort").html(result);//给用户看选中的
        if(clsn=='choose_goods'){
            art.dialog.open('/admin/goods/?shop_id='+shopid+"&stores="+result,{
                    title: '选择商店或者商品',
                    lock: true,
                    width:800,
                    height:400,
                    close:function () {
                        var goods_id=art.dialog.data('goods_id');
                        var goods_name=art.dialog.data('goods_name');
                        $("#selectedSort").html(goods_name);//给用户看选中的
                        $("#resultid").html(goods_id);//选中商品的的id
                    }
                });
        }
    });

    $(".tijiao").click(function () {
        if($("#flag").val()=='edit'){
              exc();
        }else if($("#flag").val()=='add'){
              exc();
        }else if($("#flag").val()=='add_store'){
              exc();
        }

    });

    function exc() {
        if( $("#resultid").html() == "" || $("#resultid").html() == 'goods_id=undefined'){
            art.dialog.data('shop_id',"shop_id="+shopid);//保存数据供父页面读取
        }else{
            art.dialog.data('shop_id',$("#resultid").html());//保存数据供父页面读取
        }
        art.dialog.data('shop_name',$("#selectedSort").html());
        art.dialog.close();//关闭当前对话框
    }
</script>
</body>
</html>