{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>撰写推文</title>
    {% include 'Public/header.html' %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/artdialog/skins/mydialog.css' %}"/>
</head>
<body>
<form id='myform'>
    <table cellpadding="0" cellspacing="0" class="frame_form" width="100%">
        <tr>
            <th width="10%">标题</th>
            <td>
                <input type="text" id="title" class="input fl" name="title" size="75" placeholder="推文标题"
                       validate="maxlength:50" value="{{ news.title }}"/>
                <strong class='high position phone_number'>*</strong>
                <input type="hidden" id="news_id" class="put" name="news_id" value="{{ news.id }}">
            </td>
        </tr>
        <tr>
            <th width="10%">分类</th>
            {#<if condition="$category">#}
            <td>
                <select name="category_id">
                    {% for category in categorys %}
                        <option value="{{ category.id }}" {% if category.id == news.category_id %}
                                selected="selected"{% endif %}>{{ category.category_name }}</option>
                    {% endfor %}
                    <input type="hidden" class="pub" id="category_id" name="classify_id"
                           value="{{ news.category_id }}">
                </select>
            </td>
            {#</if>#}
        </tr>
        <tr>
            <th width="10%">排序</th>
            <td>
                <input type="text" id='sort' class="input fl" name="sort" {% if news.sort %}
                       value="{{ news.sort }}" {% else %} value="0" {% endif %} placeholder="快报标题"
                       validate="maxlength:50,digits:true"/>
            </td>
        </tr>
        <tr>
            <th width="10%">内容</th>
            <td>
                <label for="content">
                    <textarea type="text" id="content" name="content" style="height: 300px">{{ news.content }}</textarea>
                </label>
                <strong class='high position content'>*</strong>
            </td>
        </tr>
        <tr>
            <th width="10%">状态</th>
            <td class="radio_box">
                {% if news.status == 1 %}
                    <input type="radio" id='status' name="status" value="1" checked>正常
                    <input type="radio" id='status' name="status" value="0"> 禁止
                {% else %}
                    <input type="radio" id='status' name="status" value="1">正常
                    <input type="radio" id='status' name="status" value="0" checked> 禁止
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="btn">
        <td colspan="2" class="aui_footer">
            <div class="aui_buttons">
                <button id="edit" class="aui_state_highlight" type="submit">编辑</button>
                <button id="close" type="button">关闭</button>
            </div>
        </td>
    </div>
</form>
<script src="/static/js/kindeditor/kindeditor-all-min.js"></script>
<script src="/static/js/kindeditor/lang/zh-CN.js"></script>
<script src="/static/js/kindeditor/themes/default/default.css"></script>
<script>
    KindEditor.ready(function (k) {

        window.editor = k.create('#content', {
            width: '100%',
            high:'3000',
            resizeType: 2, {# 只能改变高度 #}
            allowImageRemote: true, {# 不能上传网络图片 #}
            uploadJson: '/admin/upload_img/', {#处理url指定上传文件的服务器端程序#}
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull',
                'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript', 'superscript',
                'clearhtml', 'quickformat', 'selectall', '/', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor',
                'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat',
                '|', 'image', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak', 'anchor', 'link', 'unlink',
            ],
            afterBlur: function () {
                this.sync();
            },
            afterCreate: function () {
                this.sync();
            }

        });
    });

    $("#myform").submit(function (e) {
        e.preventDefault();
        if ($("#title").val().length === 0) {
            $(".title").html("标题不能为空")
        } else {
            $.ajax({
                dataType: "json",
                type: "post",
                data: $("#myform").serialize(),
                success: function (msg) {
                    if (msg === 1) {
                        result("编辑成功", "succeed");
                        var win = art.dialog.open.origin;
                        win.location.reload();
                    } else {
                        result("添加失败", "error");
                    }
                },
                error: function (xhr, textstatus, thrown) {
                }
            });
            return true;
        }
    });

    function result(title, flag) {
        art.dialog({
            content: title,
            //以“skins/icons/”目录下的图标名作为参数名（不包含后缀名）
            icon: flag,
            fixed: true,//静止在浏览器某个地方不动，不受滚动条拖动影响
            time: 3,//如果有cancel方法的话会调用cancel方法
        });
        var time = setInterval(function () {
            art.dialog.close()
        }, 2000);
    }

    $("#close").click(function () {
        art.dialog.close();
    });//关闭对话框
</script>
</body>
</html>