<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站后台管理</title>
    {% include 'Public/header.html' %}
</head>
<body>
<div class="mainbox">
    <div id="nav" class="mainnav_title">
        <ul class="tbody">
            <a href="/admin/account_list/" class="on">账号列表</a>|
            {% if level != 2 %}
            <a href="javascript:void(0);" class="add_row">添加管理员</a>|
            {% endif %}
        </ul>
    </div>
    <table class="search_table" width="100%">
        <tr>
            <td style="width:50%;">
                <form action="/admin/account_list/" method="get">
                    筛选:
                    <input type="text" name="keyword" class="input-text" value="{{ status.keyword|default_if_none:'' }}"/>
                    <select name="searchtype">
                        {% if status.searchtype == "realname" %}
                        <option value="realname" selected>管理员姓名</option>
                        <option value="account" >管理员帐号</option>
                        <option value="phone" >联系电话</option>
                        <option value="admin_id" >管理员编号</option>
                            {% elif status.searchtype == "account" %}
                            <option value="realname" >管理员姓名</option>
                        <option value="account" selected>管理员帐号</option>
                        <option value="phone" >联系电话</option>
                        <option value="admin_id" >管理员编号</option>
                            {% elif status.searchtype == "phone" %}
                            <option value="realname" >管理员姓名</option>
                        <option value="account" >管理员帐号</option>
                        <option value="phone" selected>联系电话</option>
                        <option value="admin_id" >管理员编号</option>
                            {% else %}
                            <option value="realname" >管理员姓名</option>
                        <option value="account" >管理员帐号</option>
                        <option value="phone" >联系电话</option>
                        <option value="admin_id" selected>管理员编号</option>
                        {% endif %}
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="查询" class="button"/>
                </form>
            </td>
        </tr>
    </table>
    <form name="myform" id="myform" action="" method="post">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <colgroup><col> <col> <col> <col><col><col><col><col><col><col width="240" align="center"> </colgroup>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>帐号</th>
                        <th>级别</th>
                        <th>区域</th>
                        <th>微信昵称</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>Email</th>
                        <th>QQ</th>
                        <th>最后登录时间</th>
                        <th class="textcenter">登录次数</th>
                        <th class="textcenter">状态</th>
                        {% if level != 2 %}
                        <th class="textcenter">操作</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody  class="tbody">
                {% for i in data %}
                    <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.account }}</td>
                    {% if i.level == 0 %}
                        <td>平台管理员</td>
                        {% elif i.level == 1 %}
                        <td>区域主管</td>
                        {% else %}
                        <td>普通管理员</td>
                    {% endif %}
                    <td>{{ i.open_admin_region }}</td>
                    <td class="nickname">
                        <a href="https://www.cqjdxyq.top/index.php?g=Index&c=Recognition&a=see_tmp_qrcode&qrcode_id=3890000001&img=1" data-id="1" class="see_qrcode" id="qr_1" style="color:green">绑定微信号</a>
                    </td>
                    <td>{{ i.realname }}</td>
                    <td>{{ i.phone }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.qq }}</td>
                    <td>{{  i.last_time|date:"Y-m-d H:i:s" }}</td>
                    <td class="textcenter">{{ i.login_count }}</td>
                    {% if i.status == 1 %}
                    <td class="textcenter"><span style="color:green">开启</span></td>
                    {% else %}
                        <td class="textcenter"><span style="color:green">关闭</span></td>
                    {% endif %}
                    {% if level != 2 %}
                     <td class="textcenter">
                        <a href="javascript:void(0);" class="edit_row">编辑</a> |
                        <a href="javascript:void(0);" class="dist_authority">编辑权限</a>
                        | <a href="javascript:void(0);" class="delete_row">删除</a>
                        | <a href="javascript:void(0);" class="clear_key">清除key</a>
                         <a class="label label-warning cancel" title="取消微信绑定" data-id="4" style="display:none;color:red" >取消绑定</a>
                    </td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
               <tfoot id="tfoot">
                <tr>
                    <td class="textcenter pagebar" colspan="13">
                        <ul class="pages">
                            <li id="first_page"><a href='/admin/account_list/?p=1&keyword={{ status.keyword|default_if_none:'' }}&searchtype={{ status.searchtype }}'>首页</a></li>
                            {% if  get_page  == '1' %}
                                <li><a href='#'>&lt;上一页</a></li>
                            {% else %}
                                <li><a href='/admin/account_list/?p={{ get_page |add:-1}}&keyword={{ status.keyword|default_if_none:'' }}&searchtype={{ status.searchtype }}'>&lt;上一页</a></li>

                            {% endif %}
                            {% if  get_page  >=  page_total  %}
                                <li><a href='#'>下一页&gt;</a></li>
                            {% else %}
                                <li><a href='/admin/account_list/?p={{ get_page |add:1}}&keyword={{ status.keyword|default_if_none:'' }}&searchtype={{ status.searchtype }}'>下一页&gt;</a></li>
                            {% endif %}
                            <li><a href='/admin/account_list/?p={{ page_total }}&keyword={{ status.keyword|default_if_none:'' }}&searchtype={{ status.searchtype }}'>尾页></a></li>
                            <li class='disabled'><a href='##' id='show_info'>{{ get_page }}/{{ page_total }}</a></li>
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/js/del_edit_post_get.js"></script>
<script type="text/javascript">
    {% if level != 2 %}
    $(".tbody").on('click','a',function () {
        var clsn=this.className;
        var td=$(this).parent().siblings()[0];
        var sort_id=$(td).html();
        if(clsn=='edit_row'){
             art.dialog.open('/admin/edit_accountinfo/?account_id='+sort_id,{
                title: '编辑管理账号信息',
                lock: true,
                modal:true,
                width:800,
                height:400
            });
        }else if(clsn=='add_row'){
              art.dialog.open('/admin/add_account/',{
                title: '添加管理员账号',
                lock: true,
                modal:true,
                width:800,
                height:400
            });

        }else if(clsn=='delete_row'){
            function callback() { }
                if(confirm("你确定要删除吗？")){
                   $.deleteJSON("/admin/edit_accountinfo/?account_id="+sort_id,"delete",callback)
                }else{
                    return false;
                }
         }else if(clsn=='dist_authority'){
             art.dialog.open('/admin/edit_authorityform/?account_id='+sort_id,{
                title: '编辑管理员权限',
                lock: true,
                modal:true,
                width:800,
                height:400
            });
        }else if(clsn == 'clear_key'){
            if(confirm("你确定要清除key吗？")){
                $.ajax({
                    url:"/admin/clear_key/?id="+sort_id,
                    type:"get",
                    dataType:"json",
                    success:function(msg){
                        if(msg==1){
                            result("清除成功","succeed");
                        }else{
                            result("清除失败","error");
                        }
                    },
                    error:function(xhr,textstatus,thrown){
                    }
                });
            }

        }
    });

    function result(title,flag) {
        art.dialog({
            content: title,
            //以“skins/icons/”目录下的图标名作为参数名（不包含后缀名）
            icon: flag,
            fixed: true,//静止在浏览器某个地方不动，不受滚动条拖动影响
            time: 3,//如果有cancel方法的话会调用cancel方法
        });
        var time = setInterval(function() {
            art.dialog.close()
        }, 2000);
    }
    {% endif %}

</script>
</body>
</html>