<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/artdialog/skins/mydialog.css"/>
	<script src="/static/js/jquery.js"></script>
    <style>
        em{
            display: inline-block;
            margin-top: 10px;
            color: red;
            font-weight: bold;

        }
    </style>
</head>
<body>

<form id="myform" method="post" action="/admin/add_account/" frame="true" refresh="true">
		<!--<input type="hidden" name="account_id" value=""/>-->
		<table cellpadding="0" cellspacing="0" class="frame_form" width="100%">
			<tr>
				<th width="160">账号</th>
				<td>
                    <input  onblur="checkName()" type="text" id="account" class="input fl" name="account" value="" size="25"  validate="maxlength:20,required:true"/>
				     <input id="recept" type="hidden" value="{{ state }}">
                     <em id="tishi"></em>
                </td>
			</tr>
			<tr>
				<th width="160">密码</th>
				<td>
					<input  onblur="checkpwd()" type="text"  name="pwd" id="pwd" class="input fl" size="25"  validate="maxlength:20,required:true" />
				    <em id="p"></em>
                </td>
			</tr>
			<tr>
				<th width="160">真实姓名</th>
				<td>
					<input type="text" onblur="checkname()"  name="realname" id="realname" class="input fl" size="25"  validate="maxlength:20,required:true" />
				    <em id="name"></em>
                </td>
			</tr>
			<tr>
				<th width="160">电话</th>
				<td>
					<input type="text" onblur="checktel()"  id="phone" class="input fl" name="phone" value="" size="25"  validate="required:true" tips="多个电话号码以空格分开"/>
				    <em id="tel"></em>
                </td>
			</tr>
			<tr>
				<th width="160">EMAIL</th>
				<td>
					<input type="text" onblur="checkemaill()"  id="email" class="input fl" name="email" value="" size="25"  validate="required:true"/>
				    <em id="e"></em>
                </td>
			</tr>
			<tr>
				<th width="160">QQ</th>
				<td>
					<input type="text"  id="qq" class="input fl" name="qq" value="" size="25"  validate="required:true"/>
                </td>
			</tr>
            <tr>
                <th width="160">管理员等级</th>
                {% if level == 0 %}
				<td>
					<div class="radio" id="radio">
						<input type="radio" name="level" id="opt1" value="0">平台管理员
						<input type="radio" name="level" id="opt0" value="1">区域总管理员
					</div>
				</td>
                    {% else %}
                    <td>
					<div class="radio" id="radio">
						<input type="radio" name="level" id="opt0" value="2" checked>普通管理员
					</div>
				</td>
                {% endif %}
			</tr>
                <tr id="choose_reg" style="display: none;">
                    <th width="160">所在区域</th>
                    <td id="choose_cityarea" province_id="" city_id="" area_id="" circle_id="-1">
                        <select id="choose_province_hide" name="province_idss">
                            <option id="province"></option>
                        </select>
                        <select id="choose_city_hide" name="city_idss">
                            <option id="city"></option>
                        </select>
                        <select id="choose_areass" name="area_id">
                            <option id="area"></option>
                        </select>
                        <select onchange="hidden()"  id="choose_region" name="region_id">
                            <option id="region"></option>
                        </select>
                        <em id="ts" style="color: red">请选择省、市、区</em>
                    </td>
                </tr>
			<tr>
				<th width="160">权限</th>
				<td>
                    <a id="set_authority" href="javascript:void(0);"  style="color:blue">设置管理员使用权限</a>
                    <em style="color: red;">&nbsp;&nbsp;必选</em>
                </td>
                <input id="authoritydata" type="hidden" value="{{ data }}">
                <input id="recpt_authoritydata" type="hidden" name="authoritydata" value="">
			</tr>
			<tr>
				<th width="160">权限分组</th>
				<td>
					<select name="authority_group_id" tips="权限分组">
						<option value="0">不选</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="aui_footer">
					<div class="aui_buttons" style="">
						<button id="edit" class="aui_state_highlight" type="submit">添加</button>
						<button id="close" type="button">关闭</button>
					</div>
				</td>
			</tr>
        </table>
	</form>


<script>
    function hidden(){
        $("#ts").hide();
    }
    /*打开弹出框*/
    $("#set_authority").click(function (){
        window.parent.authorityform_open();
    });
     $("#close").click(function () {
		 window.parent.hideform();
     });
     $("#edit").click(function () {
         window.parent.hideform();
         window.parent.tip("添加成功");
     });
      //区域下拉框根据管理员等级显示与隐藏
     $("#radio").click(function () {
         var val=parseInt($('input:radio[name="level"]:checked').val());
         if(val == 1){
         $("#choose_reg").css("display","table-row");
        var province="<option selected value=\"0\">全部省</option>",city="<option selected value=\"0\">全部市</option>",area="<option selected value=\"0\">全部区</option>";
        var num,nums,numss;
       $.getJSON("/admin/region_info/",function (data) {
            $.each(data.data[0], function (i, e) {
                province += "<option value=" + "\"" + e.province_id + "\"" + ">" + e.province_name + "</option>";
            });
            $("#choose_province_hide").html(province);
            $("#choose_province_hide").change(function () {
                num = parseInt($("#choose_province_hide option:selected").val());
                city = "<option value=\"0\">请选择市</option>"
                $.each(data.data[1][num], function (i, e) {
                    city += "<option value=" + "\"" + e.city_id + "\"" + ">" + e.city_name + "</option>";
                });
                $("#choose_city_hide").html(city);
            });
            $("#choose_city_hide").change(function () {
                nums = parseInt($("#choose_city_hide option:selected").val());
                area = "<option value=\"0\">请选择区</option>"
                $.each(data.data[2][nums], function (i, e) {
                    area += "<option value=" + "\"" + e.area_id + "\"" + ">" + e.area_name + "</option>";
                });
                $("#choose_areass").html(area);
            });
             $("#choose_areass").change(function () {
                numss = parseInt($("#choose_areass option:selected").val());
                region = "<option>请选择营运区</option>"
                $.each(data.data[3][numss], function (i, e) {
                    region += "<option value=" + "\"" + e.region_id + "\"" + ">" + e.region_name + "</option>";
                });
                $("#choose_region").html(region);
            });
       });
         }else{
             $("#choose_reg").css("display","none");
         }
     });
      var arr=[];
      //接收父级传来的权限数据
      function subFunction(data) {
         console.log(data);
         data.forEach(function (el) {
             arr.push(el.name);
         });
         $("#recpt_authoritydata").val(arr);
     }
     //判断账号唯一性
      function checkName() {
        var username = $("#account").val();
        if(username==""){
            $("#tishi").html("<font color='red'>此字段不能为空</font>")
        }else {
            $("#tishi").html()
            $.ajax({
            url : "/admin/account_unique/", //后台查询验证的方法
            data : {
                "account" : username
            }, //携带的参数
            type : "get",
            success : function(msg) {
                console.log(msg.state);
                //根据后台返回前台的msg给提示信息加HTML
                if (msg.state==1) {
                    // 账号已经存在
                    $("#tishi").html("<font color='red'>抱歉，" + username + "已存在，请更换！</font>")
                } else {
                    // 账号不存在
                    $("#tishi").html( "<font color='green'>恭喜，" + username + " 可以添加！</font>")
                }
            }
        });
        }
    }
     //判断form表单中input不能为空
      function checkpwd() {
        if($("#pwd").val()==''){
            $("#p").html("此字段不能为空!");
        }else{
            $("#p").html();
        }
    }
      function checkname() {
          if($("#realname").val()==''){
              $("#name").html("此字段不能为空!");
          }else{
              $("#name").html();
          }
      }
      function checktel() {
          var reg=/^\d+$/;
          if($("#phone").val()==''){
              $("#tel").html("此字段不能为空!");
          }else if(reg.test($("#phone").val())==false){
              $("#tel").html("格式不正确");
          }else{
               $("#tel").html();
          }
      }
      function checkemaill() {
          var reg=/^.+@.+$/;
          if($("#email").val()==''){
              $("#e").html("此字段不能为空!");
          }else if(reg.test($("#email").val())==false){
              $("#e").html("格式不正确");
          }else{
               $("#e").html();
          }
      }



</script>
</body>
</html>