<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站后台管理</title>
    {% include 'Public/header.html' %}
</head>
<body>
<div class="mainbox">
    <div id="nav" class="mainnav_title">
        <ul class="tbody">
            <a href="/admin/exist_region/">已有运营区域列表</a>
            <input type="hidden" name="region_id" id="region_id" value="{{ region_id }}">
            <a class="on">校区列表</a>
            <a href="javascript:void (0);" class="add_row">添加校区</a>
        </ul>
    </div>
    <form name="myform" id="myform" action="" method="post">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <colgroup><col> <col> <col> <col><col><col><col><col><col><col width="240" align="center"> </colgroup>
                <thead>
                    <tr>
                        <th>校区ID</th>
                        <th>校区名称</th>
                        <th>子地址</th>
                        <th class="textcenter">操作</th>
                    </tr>
                </thead>
                <tbody  class="tbody">
                {% for i in data %}
                    <tr>
                        <td>{{ i.campus_id }}</td>
                        <td>{{ i.campus_name }}</td>
                        <td><a href="/admin/address_list/?campus_id={{ i.campus_id }}" style="color: green;">地址列表</a></td>
                        <td class="textcenter">
                            <a href="javascript:void(0);" class="edit_row">编辑</a> |
                           <a href="javascript:void(0);" class="delete_row">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/js/del_edit_post_get.js"></script>
<script type="text/javascript">
    $(".tbody").on('click','a',function () {
        var clsn=this.className;
        var td=$(this).parent().siblings();
        var campus_id=$(td[0]).html();
        var campus_name=$(td[1]).html();
        if(clsn=='edit_row'){
            art.dialog.data('campus_id',campus_id);
            art.dialog.data('campus_name',campus_name);
             art.dialog.open('/admin/edit_campusinfo/',{
                title: '编辑校区信息',
                lock: true,
                modal:true,
                width:800,
                height:400
            });
        }else if(clsn=='delete_row'){
            function callback() { }
            if(confirm("你确定要删除吗？")){
                $.deleteJSON("/admin/campus_list/?campus_id="+campus_id,"delete",callback)
            }else{
                return false;
            }
         }else if(clsn == 'add_row'){
             art.dialog.data("region_id",$("#region_id").val());
             art.dialog.open('/admin/add_campusinfo/',{
                title: '添加校区',
                lock: true,
                modal:true,
                width:800,
                height:400
            });
        }
    });

    function result(title,flag) {
        art.dialog({
            content: title,
            //以“skins/icons/”目录下的图标名作为参数名（不包含后缀名）
            icon: flag,
            fixed: true,//静止在浏览器某个地方不动，不受滚动条拖动影响
            time: 3,//如果有cancel方法的话会调用cancel方法
        });
        var time = setInterval(function() {
            art.dialog.close()
        }, 2000);
    }

</script>
</body>
</html>