<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/static/css/artdialog/skins/mydialog.css"/>
    {% include 'Public/header.html' %}
</head>
<body>
<form id="myform" method="post"   action="" frame="true" refresh="true">
		<table cellpadding="0" cellspacing="0" class="frame_form" width="100%">
            <input type="hidden" id="campus_id" name="campus_id" value="">
            <input type="hidden" id="address_id" name="address_id" value="">
			<tr>
				<th width="160">地址名称</th>
				<td>
                    <input  type="text"  id="address_name" class="input fl" name="address_name" value="" size="25"/>
                     <strong class='high position account'>*</strong>
                </td>
			</tr>
            <tr>
				<th width="160">性别</th>
				<td>
                    <input  type="text"  id="address_gender" class="input fl" name="gender" value="" size="25"/>
                     <strong class='high position gender'>*</strong>
                </td>
			</tr>
            <tr>
				<th width="160">配送费</th>
				<td>
                    <input  type="text"  id="address_cost" class="input fl" name="cost" value="" size="25"/>
                     <strong class='high position cost'>*</strong>
                </td>
			</tr>
        </table>
        <div class="btn">
            <td colspan="2" class="aui_footer">
                <div class="aui_buttons">
                    <button id="edit" class="aui_state_highlight" type="submit">编辑</button>
                    <button id="close" type="button">关闭</button>
                </div>
            </td>
        </div>
</form>

<script>
     var campus_id=art.dialog.data('campus_id');
     var address_id=art.dialog.data('address_id');
     var address_name=art.dialog.data('address_name');
     var address_gender=art.dialog.data('address_gender');
     var address_cost=art.dialog.data('address_cost');

    $("#campus_id").val(campus_id);
    $("#address_id").val(address_id);
    $("#address_name").val(address_name);
    $("#address_gender").val(address_gender);
    $("#address_cost").val(address_cost);

    $("#close").click(function () {
		art.dialog.close();
     });//关闭对话框

    $("#myform").submit(function (e) {
        e.preventDefault();
        confirm();
        function confirm(){
            if($("#address_name").val().length == 0){
                   $(".account").html("地址名称不能为空!");
                   return false;
            }else {
                $(".account").html(" ");
                if($("#address_gender").val().length == 0){
                    $(".gender").html("性别不能为空!");
                   return false;
                }else {
                    $(".gender").html(" ");
                    if($("#address_cost").val().length == 0){
                        $(".cost").html("配送费不能为空!");
                        return false;
                    }else {
                         $(".cost").html(" ");
                         $.ajax({
                            url:"/admin/edit_address/",
                            type:"post",
                            dataType:"json",
                            data: $("#myform").serialize(),
                            success:function(msg){
                                if(msg==1){
                                    result("编辑成功","succeed");
                                    var win = art.dialog.open.origin;
                                    win.location.reload();
                                }else{
                                    result("编辑失败","error");
                                }
                            },
                            error:function(xhr,textstatus,thrown){
                            }
                        });
                    }
                }
            }
        }
    });//表单验证提交

     function result(title,flag) {
        art.dialog({
            content: title,
            //以“skins/icons/”目录下的图标名作为参数名（不包含后缀名）
            icon: flag,
            fixed: true,//静止在浏览器某个地方不动，不受滚动条拖动影响
            time: 3,//如果有cancel方法的话会调用cancel方法
        });
        var time = setInterval(function() {
            art.dialog.close()
        }, 2000);
    }


</script>

</body>
</html>