<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站后台管理 Powered by pigcms.com</title>
    {% include 'Public/header.html' %}
    <link rel="stylesheet" type="text/css" href="/static/css/artdialog/skins/mydialog.css" />
</head>
<body>
    <form id="myform" method="post" action="" frame="true" refresh="true">
        {% csrf_token %}
        <table cellpadding="0" cellspacing="0" class="frame_form" width="100%">
            <tr>
                <th width="160">分类名称</th>
                <td>
                    <input type="text" id="sort_name" class="input fl" name="sort_name"  size="25"  validate="maxlength:20,required:true"/>
                    <strong class='high position'>*</strong>
                </td>
            </tr>
            <tr>
                <th width="160">分类排序</th>
                <td>
                    <input type="text" id="priority" class="input fl" name="priority"  size="25" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  validate="maxlength:20,required:true"/>
                    <strong class='high position account'>*(只能输入数字)</strong>
                </td>
            </tr>
            <tr>
                <th width="160">分类状态</th>
                <td>
                    <div class="radio" id="radio">
                        <input type="radio" name="state" id="Radios1" value="1" checked> 开启
                        <input type="radio" name="state" id="Radios2"  value="0">关闭 <strong class='high position'>*</strong>
                    </div>
                </td>
            </tr>
        </table>
        <div class="btn">
			<td colspan="2" class="aui_footer">
				<div class="aui_buttons">
					<button id="add" class="aui_state_highlight" type="submit">添加</button>
					<button id="close" type="button">关闭</button>
				</div>
			</td>
		</div>
    </form>
</body>

<script src="/static/js/jquery.js"></script>
<script>
    $("#close").click(function () {
        art.dialog.close()
    });//关闭对话框

    $("#myform").submit(function (e) {
        e.preventDefault();
        $.ajax({
            url:"/admin/add_originalform/",
            type:"post",
            dataType:"json",
            data:$("#myform").serialize(),
            success:function(msg){
                if(msg==1){
                    result("添加成功","succeed");
                    var win = art.dialog.open.origin;
                    win.location.reload();
                }else{
                    result("添加失败","error");
                }
            },
            error:function(xhr,textstatus,thrown){
            }
        });
    });//添加主分类表单提交
    function result(title,flag) {
        art.dialog({
            content: title,
            //以“skins/icons/”目录下的图标名作为参数名（不包含后缀名）
            icon: flag,
            fixed: true,//静止在浏览器某个地方不动，不受滚动条拖动影响
            time: 3,//如果有cancel方法的话会调用cancel方法
        });
        var time = setInterval(function() {
            art.dialog.close()
        }, 2000);
    }


</script>
