<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站后台管理 Powered by pigcms.com</title>
    {% include 'Public/header.html' %}
    <style>
        ul.pages{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ol, ul {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

</head>

<body>
<div class="mainbox">
    <div id="nav" class="mainnav_title">
        <ul  class="tbody">
            <a href="/admin/category_list/">分类列表</a>|
            <a href="" id="parent_name" class="on">{{ name }} - 子分类列表</a>|
            <a href="javascript:void(0);" class="add_row">添加子分类</a>
        </ul>
    </div>
    <div style="height:30px;line-height:30px;">提示：若主分类下只有一个子分类，网站上子分类不会显示。</div>
    <form name="myform" id="myform" action="" method="post">
    <div class="table-list">
        <table width="100%" cellspacing="0">
            <colgroup>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col width="180" align="center"/>
            </colgroup>
            <thead>
                <tr>
                    <th>排序</th>
                    <th>编号</th>
                    <th>名称</th>
                    <th>状态</th>
                    <th class="textcenter">操作</th>
                </tr>
            </thead>
            <tbody  class="tbody">
            <input type="hidden" name="parent_id" id="f_id" value="{{ f_id }}">
            {% for i in data %}
                 <tr>
                    <td>{{ i.priority }}</td>
                    <td>{{ i.sort_id }}</td>
                    <td>{{ i.sort_name }}</td>
                    <td><font color="green">{{ i.state }}</font></td>
                    <td class="textcenter">
                        <a href="javascript:void(0);" class="edit_row">编辑</a> |
                        <a href="javascript:void(0);" class="delete_row">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
             <tfoot id="tfoot">
                            <tr>
                                <td class="textcenter pagebar" colspan="12">
                                    <ul class="pages">
                                        <li id="first_page"><a href='/admin/check_childlist/?p=1&name={{ name }}&sort_id={{ f_id }}'>首页</a></li>
                                        {% if  get_page  == '1' %}
                                            <li><a href='#'>&lt;上一页</a></li>
                                        {% else %}
                                            <li><a href='/admin/check_childlist/?p={{ get_page |add:-1}}&name={{ name }}&sort_id={{ f_id }}'>&lt;上一页</a></li>

                                        {% endif %}
                                        {% if  get_page  >=  page_total  %}
                                            <li><a href='#'>下一页&gt;</a></li>
                                        {% else %}
                                            <li><a href='/admin/check_childlist/?p={{ get_page |add:1}}&name={{ name }}&sort_id={{ f_id }}'>下一页&gt;</a></li>
                                        {% endif %}
                                        <li><a href='/admin/check_childlist/?p={{ page_total }}&name={{ name }}&sort_id={{ f_id }}'>尾页></a></li>
                                        <li class='disabled'><a href='##' id='show_info'>{{ get_page }}/{{ page_total }}</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
        </table>
    </div>
</form>
</div>
</body>
<script src="/static/js/del_edit_post_get.js"></script>
  <script>
      $(".tbody").on('click','a',function () {
        var clsn=this.className;
        var parent_id=$("#f_id").val();
        var td=$(this).parent().siblings()[1];
        var sort_id=$(td).html();
        var parent_name=$("#parent_name").html().split("-")[0];
        if(clsn=='edit_row'){
             art.dialog.open('/admin/edit_childform/?shop_id='+sort_id,{
                title: '编辑分类信息',
                lock: true,
                modal:true,
                width:800,
                height:400
            });
          //$.getJSON("/admin/check_childlist/?sort_id="+parent_id+"&name="+parent_name)
        }else if(clsn=='add_row'){
            art.dialog.open('/admin/add_childform/?shop_id='+parent_id,{
                title: '添加子分类',
                lock: true,
                modal:true,
                width:800,
                height:400
            });

        }else if(clsn=='delete_row'){
            function callback() {

            }
                if(confirm("你确定要删除吗？")){
                   $.deleteJSON("/admin/edit_childform/?sort_id="+sort_id,"delete",callback)
                }else{
                    return false;
                }
            }

    });
  </script>
</html>