{% include 'Public/header.html' %}
<link rel="stylesheet" type="text/css" href="/static/css/artdialog/skins/mydialog.css" />
<style>
    .frame_form td.aui_footer{
        position: absolute;
        bottom: 0;
        right: 20px;
    }
     .aui_buttons {
			padding: 4px 0 0 0;
		}
    .btn{
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
    }
</style>
<form id="myform" method="post" action="" frame="true" refresh="true">
        {% csrf_token %}
        <input type="hidden" name="sort_id" value="{{ data.sort_id }}"/>
		<table cellpadding="0" cellspacing="0" class="frame_form" width="100%">
			<tr>
				<th width="160">分类名称</th>
				<td>
					<input type="text" value="{{ data.sort_name }}" id="sort_name" class="input fl" name="sort_name"  size="25"  validate="maxlength:20,required:true"/>
				</td>
			</tr>
			<tr>
				<th width="160">分类排序</th>
				<td>
                    <input type="text" value="{{ data.priority }}" id="priority" class="input fl" name="priority"  size="25" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  validate="maxlength:20,required:true"/>
				     <em style="color: red;font-weight: bold;display: inline-block;margin-top: 5px;margin-left: 10px;">(只能输入数字)</em>
                </td>
			</tr>
			<tr>
				<th width="160">分类状态</th>
				<td>
					<div class="radio" id="radio">
                        {% if data.state == 1 %}
						<input type="radio" name="state" id="Radios1" value="1" checked> 开启
						<input type="radio" name="state" id="Radios2"  value="0">关闭
                            {% else %}
                            <input type="radio" name="state" id="Radios1" value="1" > 开启
						<input type="radio" name="state" id="Radios2"  value="0" checked>关闭
                        {% endif %}
                    </div>
				</td>
			</tr>
        </table>
        <div class="btn">
            <td colspan="2" class="aui_footer">
                <div class="aui_buttons">
                    <button id="edit" class="aui_state_highlight" type="submit">编辑</button>
                    <button id="close" type="button">关闭</button>
                </div>
            </td>
        </div>
	</form>
<script src="/static/js/jquery.js"></script>
<script>
    $("#close").click(function () {
          art.dialog.close();
    });//关闭对话框


    $("#myform").submit(function (e) {
        e.preventDefault();
        $.ajax({
            url:"/admin/edit_childform/",
            type:"post",
            dataType:"json",
            data:$("#myform").serialize(),
            success:function(msg){
                console.log(msg);
                if(msg==1){
                    result("编辑成功","succeed");
                    var win = art.dialog.open.origin;
                    win.location.reload();
                }else{
                    result("编辑失败","error");
                }
            },
            error:function(xhr,textstatus,thrown){
            }
        });
    });//编辑子分类表单提交
    function result(title,flag) {
        art.dialog({
            content: title,
            icon: flag,
            fixed: true,
            time: 3,
        });
        var time = setInterval(function() {
            art.dialog.close()
        }, 2000);
    }


</script>
