{% include 'Public/header.html' %}
<link rel="stylesheet" type="text/css" href="/static/css/artdialog/skins/mydialog.css" />
<link rel="stylesheet" type="text/css" href="/static/css/zoomify.css" />
<style>
    form img{
        width: 80px;
        height: 80px;
    }
    .ul_img{
        display: flex;
    }
    form{
        margin-bottom: 50px;
    }
</style>

<script type="text/javascript">
    $(function() {
        $('img').zoomify();
    });
</script>
<form id="myform" method="post" action="" frame="true" refresh="true">
        {% csrf_token %}
		<input type="hidden" name="shop_id" value="{{ data.shop_id }}"/>
		<table cellpadding="0" cellspacing="0" class="frame_form" width="100%">
			<tr>
				<th width="160">店铺名称</th>
				<td>
					<span id="shop_name">{{ data.shop_name }}</span>
				</td>
			</tr>
			<tr>
				<th width="160">店铺logo</th>
				<td>
                    <ul class="ul_img">
                        {% for i in  data.shop_logo %}
                            <li><img src="http://ftp.college.cqgynet.com/static/shop_images/{{ i }}"></li>
                        {% endfor %}
                    </ul>
				</td>
			</tr>
{#			<tr>#}
{#				<th width="160">所属大学</th>#}
{#				<td>#}
{#					<span id="university_id">{{ data.university_name }}</span>#}
{#				</td>#}
{#			</tr>#}
            <tr>
				<th width="160">所属校区</th>
				<td>
					<span id="campus_id">{{ data.campus_name }}</span>
				</td>
			</tr>
            <tr>
				<th width="160">运营区域</th>
				<td>
					<span id="region_id">{{ data.region_name }}</span>
				</td>
			</tr>
            <tr>
				<th width="160">联系电话</th>
				<td>
					<span id="phone_number">{{ data.phone_number }}</span>
				</td>
			</tr>
            <tr>
				<th width="160">店长电话</th>
				<td>
					<span id="phone_number">{{ data.manager_phone }}</span>
				</td>
			</tr>
            <tr>
				<th width="160">店铺类型</th>
				<td>
					<span id="shop_type">{{ data.shop_type }}</span>
				</td>
			</tr>
			<tr>
				<th width="160">所在区域</th>
				<td>
					<span id="choose_cityarea">{{ data.in_area }}</span>
				</td>
			</tr>
			<tr>
				<th width="160">详细地址</th>
				<td>
                    <span  id="address">{{ data.address }}</span>
				</td>
			</tr>
            <tr>
				<th width="160">营业执照</th>
				<td>
                     <ul class="ul_img">
                    {% for i in  data.business_license %}
                       {% if i == "" %}
                            {% else %}
                            <li><img src="http://ftp.college.cqgynet.com/static/shop_images/{{ i }}"></li>
                        {% endif %}
                    {% endfor %}
                     </ul>
				</td>
			</tr>
            <tr>
				<th width="160">餐饮许可证</th>
				<td>
                      <ul class="ul_img">
                    {% for i in  data.catering_license %}
                        <li><img src="http://ftp.college.cqgynet.com/static/shop_images/{{ i }}"></li>
                    {% endfor %}
                     </ul>
				</td>
			</tr>
            <tr>
				<th width="160">银行账号</th>
				<td>
                    <span  id="address">{{ data.bank_account|default_if_none:'' }}</span>
				</td>
			</tr>
            <tr>
				<th width="160">银行收款账号</th>
				<td>
                    <span  id="address">{{ data.bank_account_holder |default_if_none:''}}</span>
				</td>
			</tr>
            <tr>
				<th width="160">店铺场景照片</th>
				<td>
                    <ul class="ul_img">
                    {% for i in  data.shop_photos %}
                        {% if i == "" %}
                            {% else %}
                            <li><img src="http://ftp.college.cqgynet.com/static/shop_images/{{ i }}"></li>
                        {% endif %}
                    {% endfor %}
                     </ul>
				</td>
			</tr>
            <tr>
				<th width="160">店长账号</th>
				<td>
                    <span  id="address">{{ data.manage_name }}</span>
				</td>
			</tr>
            <tr>
				<th width="160">审核状态</th>
				<td>
                    <select id="auth">
                        <option value="2" selected>通过</option>
                        <option value="1">不通过</option>
                    </select>
                    <input hidden name="auth" id="auth_value" value=""/>
				</td>
			</tr>
           <tr id="remark" style="display: none">
				<th width="160">未通过原因</th>
				<td>
                    <textarea cols="50" rows="3" name="remark"></textarea><em style="color: red;font-weight: bold;display: inline-block;padding-left: 15px;">必填</em>
				</td>
			</tr>
        </table>
         <div class="btn">
            <td colspan="2" class="aui_footer">
                <div class="aui_buttons">
                    <button id="edit" class="aui_state_highlight" type="submit">提交</button>
                    <button id="close" type="button">关闭</button>
                </div>
            </td>
        </div>
	</form>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/zoomify.js"></script>
<script>
    $("#close").click(function () {
         art.dialog.close();
    });//关闭对话框

     $("#auth_value").val($("#auth option:selected").val());
     $("#auth").change(function () {
                num = parseInt($("#auth option:selected").val());
                $("#auth_value").val( num);
                if(num == 1){
                    $("#remark").show();
                }else {
                    $("#remark").hide();
                }
            });//改变option选项value赋值到隐藏域

     $("#myform").submit(function (e) {
        e.preventDefault();
        $.ajax({
            url:"/admin/store_form/",
            type:"post",
            dataType:"json",
            data:$("#myform").serialize(),
            success:function(msg){
                if(msg==1){
                    result("编辑成功","succeed");
                    var win = art.dialog.open.origin;
                    win.location.reload();
                }else{
                    result("编辑失败","error");
                }
            },
            error:function(xhr,textstatus,thrown){
            }
        });
    });//编辑表单提交
    function result(title,flag) {
        art.dialog({
            content: title,
            //以“skins/icons/”目录下的图标名作为参数名（不包含后缀名）
            icon: flag,
            fixed: true,//静止在浏览器某个地方不动，不受滚动条拖动影响
            time: 3,//如果有cancel方法的话会调用cancel方法
        });
        var time = setInterval(function() {
            art.dialog.close()
        }, 2000);
    }
</script>
