<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <title>后台管理 - 橙子校园</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/artDialog/jquery.artDialog.js"></script>
    <script type="text/javascript" src="/static/js/artDialog/plugins/iframeTools.js"></script>
    <script type="text/javascript" src="/static/js/jquery.colorpicker.js"></script>
    <script type="text/javascript" src="/static/js/screenfull.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome/css/font-awesome.css"/>
    <script type="text/javascript">
        if(self!=top){window.top.location.href = "index.html";}
        var selected_module="",selected_action="",selected_url="";

    </script>
</head>
<body style="background:#E2E9EA;overflow:hidden;">
<div id="Main_content" >
    <div id="HelpBox" style="width:0px;position:relative;z-index:9999;right:-200px; height:100%; overflow:hidden">
        <div id="right_open" style="position:fixed;right:0px;top:80px;cursor:pointer;"><img src="/static/images/jt_05.png" /></div>
        <div id="right_close" style="position:fixed;right:200px;top:80px;display:none;cursor:pointer;"><img src="/static/images/jt_04.png" /></div>
        <div class="helpTitle">帮助中心&nbsp;&nbsp;<i class="fa fa-question-circle-o"></i></div>
        <div class="helpContent">
            <div id="indexProfile">
                <div class="helpContentTitle">个人信息</div>
                <div class="helpContentContent" style="padding-top:0px;margin-bottom:0px;">
                    <p><span>会员名：</span>admin_CyJay</p>
                    <p><span>会员组：</span>超级管理员</p>
                    <p><span>最后登录时间：</span>2018-07-22 20:11:11</p>
                    <p><span>最后登录IP/地址：</span>125.80.171.69 / 重庆市渝中区 电信</p>
                    <p><span>登录次数：</span>635</p>
                </div>
                <hr/>
                <div class="helpContentTitle" style="margin-top:20px;">系统信息</div>
                <div class="helpContentContent" style="padding-top:0px;margin-bottom:0px;">
                    <p><span>PHP运行环境:</span>Linux</p><p><span>PHP运行方式:</span>fpm-fcgi</p><p><span>PHP版本:</span>5.4.45</p><p><span>MYSQL版本:</span>5.6.38-log</p><p><span>上传附件限制:</span>50M</p><p><span>执行时间限制:</span>300秒</p><p><span>磁盘剩余空间 :</span>71072.81M</p>						</div>
                <hr/>
                <div >
                    <div class="helpContentTitle" style="margin-top:20px;">官方动态</div>
                    <div class="helpContentContent" style="padding-top:0px;margin-bottom:0px;" id="official_news">
                    </div>
                </div>
            </div>
            <div id="helpBox" style="display:none;">
                <div class="helpContentTitle">
                    帮助文档
                </div>
                <div class="helpContentContent" >
                    <div id="helpContentText"></div>
                    <p id="loadHelpContent">文档加载中...</p>
                    <p id="emptyHelpContent" style="display:none;">暂无官方帮助文档</p>
                    <div id="helpContentBox"></div>
                </div>
            </div>
            <div class="helpContentLine"></div>

        </div>
    </div>
    <div id="leftMenuBox">
        <div id="leftHideBtn">
            <i class="fa fa-dedent" title="收缩左侧导航"></i>
            <i class="fa fa-indent" title="展开左侧导航"></i>
        </div>
        <div id="leftProfile">
            <div class="profile-2-wrapper">
                <div class="profile-2-details">
                    <div class="profile-2-img">
                        <a href=""><img src="/static/images/pigcms_logo.png"/></a>
                    </div>
                    <ul class="profile-2-info">
                        <li>
                            <h3>{{ account }}</h3>
                        </li>
                        {% if identity == 0 %}
                        <li style="color:#999;">平台管理员</li>
                            {% elif identity == 1 %}
                        <li style="color:#999;">区域主管理员</li>
                            {% else %}
                            <li style="color:#999;">普通管理员</li>
                        {% endif %}
                        <li>
                            <div class="btn-group btn-group-sm btn-group-justified">
                                <a href="https://www.cqjdxyq.top" target="_blank" class="toggle-visitors btn btn-dark tt-top tooltipstered" title="浏览网站"><i class="fa fa-tv"></i></a>
                                <a href="/admin/logout/" class="toggle-stats btn btn-dark tt-top tooltipstered" title="退出登录"><i class="fa fa-sign-out"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="leftNavBox">
                <ul>
                    {% for x in data %}
                        {% for key,val in x.items %}
                        <li class="nav-top">
                        <a class="auto" href="#">
                                            <span class="pull-right text-muted">
                                                <i class="fa fa-fw fa-angle-right text"></i>
                                                <i class="fa fa-fw fa-angle-down text-active"></i>
                                            </span>
                            <i class="fa fa-tasks icon"></i>
                            <span class="font-bold">{{ key }}</span>
                        </a>
                        <ul class="nav nav-sub dk">
                            <li class="sub-title">{{ key }}</li>
                            {% for y in val %}
                                <li id="temp">
                                {% for key,val in y.items %}
                                    {% if key == 'child_url' %}
                                       <a target="main" href="{{ val }}"  id="leftmenu_Diymenu_index">
                                       {% else %}
                                             <span>{{ val }}</span>
                                        </a>
                                    {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        {% endfor %}
                         </ul>
                    </li>
                    {% endfor %}



                </ul>
            </div>
        </div>
    </div>
    <div id="MainBox" >
        <div class="main_box">
            <div id="fullscreenBtn" title="全屏显示"><i class="fa fa-expand"></i><i class="fa fa-compress"></i></div>
            <div id="sx" onclick="main_refresh();" title="刷新框架"></div>
            <iframe name="main" id="Main" src="" frameborder="false" scrolling="auto"  width="100%" height="auto" allowtransparency="true"></iframe>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{#公用模板#}
<div id="aui_state_lock" style="display: none;position: fixed;width: 811px;left: 50%;top: 50%;transform:translateX(-50%) translateY(-50%);z-index: 2023;" class="aui_state_lock aui_state_focus">
    <div class="aui_outer">
        <table class="aui_border">
            <tbody>
            <tr>
                <td class="aui_nw"></td>
                <td class="aui_n"></td>
                <td class="aui_ne"></td>
            </tr>
            <tr>
                <td class="aui_w"></td>
                <td class="aui_c">
                    <div class="aui_inner">
                        <table class="aui_dialog">
                            <tbody>
                            <tr>
                                <td colspan="2" class="aui_header">
                                    <div class="aui_titleBar">
                                        <div class="aui_title" style="cursor: move;"></div>
                                        <a class="aui_close"   href="javascript:/*artDialog*/;">×</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="aui_icon" style="display: none;">
                                    <div class="aui_iconBg" style="/* background: none; */"></div>
                                </td>
                                <td class="aui_main" style="width: 800px; height:440px; visibility: visible;">
                                    <div class="aui_content aui_state_full" style="padding: 0px;">
                                        <div class="aui_loading" style="display: none;">
                                            <span>loading..</span>
                                        </div>
                                        <iframe onload="callChild()" id="iframe_form" src="" name="Openedit" frameborder="0" allowtransparency="true"style="width: 100%; height: 100%; border: 0px none;"></iframe>
                                        <input type="hidden" value="" id="get_a">
                                        <input type="hidden" value="" id="get_url">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td class="aui_e"></td>
            </tr>
            <tr>
                <td class="aui_sw"></td>
                <td class="aui_s"></td>
                <td class="aui_se" style="cursor: auto;"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{#图片放大#}
<div id="bigimg" style="display: none;position: fixed;width: 600px;left: 50%;top: 50%;transform:translateX(-50%) translateY(-50%);z-index: 2023;" class="aui_state_lock aui_state_focus">
    <div class="aui_outer" id="aui_outer">
        <table class="aui_border">
            <tbody>
                <tr>
                <td class="aui_nw"></td>
                <td class="aui_n"></td>
                <td class="aui_ne"></td>
            </tr>
                <tr>
                    <td class="aui_w"></td>
                    <td class="aui_c">
                        <table class="aui_dialog">
                            <tbody>
                                <tr>
                                    <td colspan="2" class="aui_header">
                                        <div class="aui_titleBar">
                                            <div class="aui_title" style="cursor: move;"></div>
                                            <a class="aui_close"   href="javascript:/*artDialog*/;">×</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="aui_main" class="aui_main" style="width: 600px; height:400px; visibility: visible;">
                                        <div id="aui_content" class="aui_content aui_state_full" style="padding: 0px;">

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="aui_e"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{#遮罩层#}
<div id="backup" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 2022; top: 0px; left: 0px; overflow: hidden;">
    <div style="height: 100%; background: black; opacity: 0.4;">
    </div>
</div>
<style>
    .table_form tbody td, .table_form tbody th {
    border-bottom:none;
     }
     .table_form tbody tr {
       display: flex;
       border-bottom: 1px solid #eee;
    }
   .aui_title1{
    height: 29px;
    line-height: 29px;
    padding: 0 25px 0 0;
    _padding: 0;
    text-indent: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

</style>
{#权限弹框#}
<div id="authorityform" style="display: none;position: fixed;width: 711px;left: 50%;top: 50%;transform: translate(-50%, -50%);z-index: 2023;" class="aui_state_lock aui_state_focus">
	  <div class="aui_outer">
		<table class="aui_border">
			<tbody>
			<tr>
				<td class="aui_nw"></td>
				<td class="aui_n"></td>
				<td class="aui_ne"></td>
			</tr>
			<tr>
				<td class="aui_w"></td>
				<td class="aui_c">
					<div class="aui_inner">
						<table class="aui_dialog">
							<tbody>
							<tr>
								<td colspan="2" class="aui_header">
									<div class="aui_titleBar">
										<div class="aui_title1" style="cursor: move;">设置管理员使用权限</div>
										<a class="aui_close2" id="aui_close" style="background-position: 0 -72px;background-image: url(/static/css/artdialog/skins/mydialog/bg_css3.png);top: 4px;right: 4px;width: 20px;height: 20px;background-repeat: no-repeat;display:block;position: absolute;"
                                           href="javascript:/*artDialog*/;"></a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="aui_icon" style="display: none;">
									<div class="aui_iconBg" style="/* background: none; */"></div>
								</td>
								<td class="aui_main" style="width: 700px; height: 500px; visibility: visible;">
									<div class="aui_content aui_state_full" style="padding: 0px;">
										<div class="aui_loading" style="display: none;">
											<span>loading..</span>
										</div>
										<div style="width: 700px; height: 500px; border: 0px none;overflow: hidden;overflow-y: auto">
											<form style="width: 100%;height: 100%;" method="post" id="myform1" action="" frame="true" refresh="true" data-call_fun="1">
												<table cellpadding="0" cellspacing="0" class="table_form" width="100%">
{#													<input type="hidden" name="admin_id" value="9">#}
													<tbody id="body">

													<tr>
														<td><label><input type="checkbox" id="all" class="all" checked> 全选</label></td>
													</tr>
													<tr style="position: absolute;bottom: 0;right: 0;">
														<td colspan="2" class="aui_footer">
															<div class="aui_buttons" style="">
																<button id="edit_authority" class="aui_state_highlight" type="submit">编辑</button>
																<button id="close_authority" type="button">关闭</button>
															</div>
														</td>
													</tr>
													</tbody>
												</table>
											</form>
										</div>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td class="aui_e"></td>
			</tr>
			<tr>
				<td class="aui_sw"></td>
				<td class="aui_s"></td>
				<td class="aui_se" style="cursor: auto;"></td>
			</tr>
			</tbody>
		</table>
	  </div>
</div>#}
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/del_edit_post_get.js"></script>
<script src="/static/js/set_authority.js"></script>
<script type="text/javascript">
           function tip(tip){
               art.dialog({
                   width: 200,
                   height: 150,
                   lock: true,
                   background: "#000", // 背景色
                   opacity: 0.3,	// 透明度
                   time: 2,
                   content: tip
               });
           } // 修改编辑成功后调用此函数
        // 编辑弹窗关闭函数（由子页面引用）
           $(".aui_close").click(function () {
            $("#aui_state_lock").css('display','none');
            $("#backup").css('display','none');
            $("#bigimg").css('display','none');
        });//关闭弹窗
           function hideform(){
            $("#aui_state_lock").css('display','none');
            $("#backup").css('display','none');
        }//关闭弹窗
           function showform(){
                $("#aui_state_lock").css('display','block');
                $("#backup").css('display','block');
            } // 编辑弹窗显示函数（由子页面引用）
           function change_data(title,src,shop_id){
            $(".aui_title").html(title);
            $("#iframe_form").attr("src",src+"?shop_id="+shop_id);
          }//弹框
           function add_data(title,src){
            $(".aui_title").html(title);
            $("#iframe_form").attr("src",src);
           }//弹框
           function add_url(url,shopid){
               $("#get_a").val(url)
               $("#get_url").val(shopid)
           }//接收来自子页面的数据
           function callChild() {
               if($("#get_a").val()==""){
                   return false;
               }else {
                    Openedit.window.childFunction($("#get_a").val(),$("#get_url").val());
               }

             /*
              child 为iframe的name属性值，
              不能为id，因为在FireFox下id不能获取iframe对象
             */
         }//调用子页面的方法，把数据传过去

            $("#right_open").click(function(){
                $("#HelpBox").css('right','0px');
                $("#HelpBox").css('width',"200px");
                $("#right_open").hide();
                $("#right_close").show();
                $('#MainBox').css('margin-right','200px');
            });
            $("#right_close").click(function(){
                $("#HelpBox").css('right','-200px');
                $("#HelpBox").css('width',"0px");
                $("#right_open").show();
                $("#right_close").hide();
                $('#MainBox').css('margin-right','0px');
            });
         //添加管理员中设置管理员使用权限弹框
           var str="",str1="",str2="",n=0;
           $.ajax({
                    url:"/admin/permissions/",
                    type:"get",
                    success:function(msg){
                        msg.forEach(function (el){
                             str="<tr id='father_menu'></tr>"
                             $("#body").prepend(str);
                            for (var key in el) {
                                 str2=" <th width='100px'><label><input type='checkbox' class='menu_"+n+" father_menu' value='"+n+"' name='"+key+"' checked=''>"+key+"</label></th><td>"
                               el[key].forEach(function (i) {
                                    str2 += " <label><input type='checkbox' class='child_menu child_menu_"+n+"' value='' name='"+i+"' data-fid='"+n+"' checked=''>" + i + "</label>\n"
                               });
                                 str2+="</td>";

                            }
                            $("#father_menu").html(str2);
                            n++;
                        });
                    },
                    error:function(xhr,textstatus,thrown){
                    }
                });
            function authorityform_open() {
                $("#authorityform").show();
            }
             $("#close_authority,#aui_close").click(function (){
                 if($("#authorityform").css("display")=="block"){
                    $("#authorityform").hide();
                }
             });

          //权限提交
         var data;
          $("#myform1").submit(function (e) {
              e.preventDefault();
               data=$(this).serializeArray();
               $("#authorityform").hide();
              var childWindow = $("#iframe_form")[0].contentWindow; //表示获取了嵌入在iframe中的子页面的window对象。  []将JQuery对象转成DOM对象，用DOM对象的contentWindow获取子页面window对象。
               childWindow.subFunction(data);
          });
          //点击小图显示大图函数
          function showbigimg(lable) {
                $("#bigimg").css('display','block');
                $("#backup").css('display','block');
                $("#aui_content").html(lable);
          }





</script>
</body>

</html>