<!DOCTYPE html>
<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>网站后台管理 Powered by pigcms.com</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <script src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/jquery.form.js"></script>
		<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
		<script type="text/javascript" src="/static/js/date/WdatePicker.js"></script>
		<script type="text/javascript" src="/static/js/jquery.colorpicker.js"></script>
		<script type="text/javascript" src="/static/js/layer/layer.js"></script>
		<script type="text/javascript" src="/static/js/common.js"></script>
		<script type="text/javascript" src="/static/js/area_adver.js"></script>
        <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/js/artDialog/jquery.artDialog.js"></script>
        <script type="text/javascript" src="/static/js/artDialog/iframeTools.js"></script>
	</head>