<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理 - 橙子校园</title>
    {% include 'Public/header.html' %}
    <style>
        ul.pages{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ol, ul {
            margin-top: 5px;
            margin-bottom: 5px;
        }
</style>
</head>
<body>
<div class="mainbox">
    <div id="nav" class="mainnav_title">
        <ul>
            <a href="" class="on">用户列表</a>
        </ul>
    </div>
    <table class="search_table" width="100%">
        <tr>
            <td>
                <form  action="/admin/user_list/" method="get">
                    <input type="hidden" name="c" value="User"/>
                    <input type="hidden" name="a" value="index"/>
                    筛选: <input type="text" name="keyword" class="input-text" value="{{ search_data.keyword}}"/>
                    <select name="searchtype">
                         {% if search_data.searchtype == 'user_id' %}
                        <option value="user_id" selected>用户ID</option>
                        <option value="nickname" >昵称</option>
                        <option value="phone_number" >手机号</option>
                        {% elif search_data.searchtype == 'nickname' %}
                         <option value="user_id">用户ID</option>
                        <option value="nickname" selected>昵称</option>
                        <option value="phone_number" >手机号</option>
                        {% else %}
                         <option value="user_id">用户ID</option>
                        <option value="nickname">昵称</option>
                        <option value="phone_number" selected>手机号</option>
                        {% endif %}
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <font color="#000">注册日期筛选：</font>
                    <input type="text" class="input-text"  name="begin_time" style="width:120px;" id="begin_time"  value="{{ search_data.begin_time}}" onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd'})"/>
                    <input type="text" class="input-text"  name="end_time" style="width:120px;" id="end_time" value="{{ search_data.end_time}}" onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd'})"/>

                    状态:
                    <select name="status">
                        {% if search_data.status == "2" %}
                        <option value="2" selected>全部</option>
                        <option value="1" >正常</option>
                        <option value="0" >禁用</option>
                        {% elif search_data.status == '1' %}
                        <option value="2">全部</option>
                        <option value="1" selected>正常</option>
                        <option value="0" >禁用</option>
                        {% else %}
                        <option value="2">全部</option>
                        <option value="1">正常</option>
                        <option value="0" selected>禁用</option>
                        {% endif %}
                    </select>
                    <input type="submit" style="margin-right:20px;" value="查询"   class="button"/>
                    用户总余额：{{ money_data.all_money }}元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    禁止用户总余额：{{ money_data.disable_money }}元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    用户总积分：{{ money_data.all_integral }}个
                </form>

            </td>
        </tr>
    </table>
    <form name="myform" id="myform" action="" method="post">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col width="180" align="center"/>
                </colgroup>
                <thead>
                    <tr>
                        <th><a href="" style="color:blue;">ID</a></th>
                        <th>昵称</th>
                        <th>手机号</th>
                        <th><a href="" style="color:blue;">最后登录时间</a></th>
                        <th>最后登录地址</th>
                        <th class="textcenter"><a href="" style="color:blue;">余额</a></th>
                        <th class="textcenter"><a href="" style="color:blue;">积分</a></th>
                        <th class="textcenter">状态</th>
                        <th class="textcenter">推广用户</th>
                        <th class="textcenter">操作</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                {% for i in data %}
                    <tr>
                        <td>{{ i.user_id }}</td>
                        <td>{{ i.nickname }}</td>
                        <td>{{ i.phone_number }}</td>
                        <td>{{ i.last_login|date:'Y-m-d h:i:s' }}</td>
                        <td>{{ i.last_ip | default_if_none:""}}</td>
                        <td class="textcenter">￥{{ i.balance }}</td>
                        <td class="textcenter">{{ i.integral }}</td>
                        {% if i.status == 1 %}
                        <td class="textcenter"><font color="green">正常</font></td>
                            {% else %}
                            <td class="textcenter"><font color="green">禁用</font></td>
                        {% endif %}
                        <td class="textcenter"><a href="">推广用户</a></td>
                        <td class="textcenter"><a  class="edit" href="javascript:void(0);">编辑</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot id="tfoot" >
                    <tr>
                        <td class="textcenter pagebar" colspan="12">
                            <ul class="pages">
                                <li><a href='/admin/user_list/?p=1&keyword={{ search_data.keyword}}&begin_time={{ search_data.begin_time}}&end_time={{ search_data.end_time}}&status={{ search_data.status }}&searchtype={{ search_data.searchtype }}'>首页</a></li>
                                {% if  get_page  == '1' %}
                                    <li><a href='#'>&lt;上一页</a></li>
                                {% else %}
                                <li><a href='/admin/user_list/?p={{ get_page |add:-1}}&keyword={{ search_data.keyword}}&begin_time={{ search_data.begin_time}}&end_time={{ search_data.end_time}}&status={{ search_data.status }}&searchtype={{ search_data.searchtype }}'>&lt;上一页</a></li>

                                {% endif %}
                            {% if  get_page  >=  page_total  %}
                                <li><a href='#'>下一页&gt;</a></li>
                                {% else %}
                                <li><a href='/admin/user_list/?p={{ get_page |add:1}}&keyword={{ search_data.keyword}}&begin_time={{ search_data.begin_time}}&end_time={{ search_data.end_time}}&status={{ search_data.status }}&searchtype={{ search_data.searchtype }}'>下一页&gt;</a></li>
                            {% endif %}
                                <li><a href='/admin/user_list/?p={{ page_total }}&keyword={{ search_data.keyword}}&begin_time={{ search_data.begin_time}}&end_time={{ search_data.end_time}}&status={{ search_data.status }}&searchtype={{ search_data.searchtype }}'>尾页></a></li>
                                <li class='disabled'><a href='##' id='show_info'>{{ get_page }}/{{ page_total }}</a></li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    $("#tbody").on('click','a',function () {
           var userid=$(this).parent().siblings()[0];
           userid=$(userid).text();
            art.dialog.open('/admin/user_edit/?userid='+userid,{
                title: '编辑用户信息',
                lock: true,
                modal:true,
                width:800,
                height:400
            });
    });

    if($("#begin_time").val() != "" && $("#end_time").val() != ""){
        var start_time = $("#begin_time").val();
        var stop_time = $("#end_time").val();
        var flag=CompareDate(start_time,stop_time);
        if(flag){

        }else{
           alert("结束时间应大于开始时间，请重新选择");
           window.location.href = "/admin/user_list/"//重定向
        }
    }//日期判断

     function CompareDate(d1,d2){
        return ((new Date(d1.replace(/-/g,"\/"))) < (new Date(d2.replace(/-/g,"\/"))));
    }//比较日期


</script>
</html>